body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  1000% {
    background-position: 0% 50%;
  }
}

#card {
  background-color: lightgrey;
  transition: all 0.2s ease-in-out;
}

#card:hover {
  background-color: lightyellow;
  transform: scale(1.1);
}

.home {
  text-align: center;
}

.shopify-logo {
  height: 250px;
  width: 250px;
}

.link {
  font-size: 30px;
  background: lightgray;
  display: inline-block;
  padding: 20px 20px;
  margin: 10px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

#like-button {
  margin-top: 35px;
}

.nasa-logo {
  height: 500px;
  width: 500px;
}

.home-title,
.home-description {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: lightgrey;
}

.home-description {
  font-size: 20px;
  margin-top: 100px;
}

.video {
  height: 30rem;
}

.col {
  display: flex;
  flex-wrap: wrap;
}
